<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouer un nouveau film</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="text-center"><h1>Saisir le nouveau film :</h1></div>
            <div>
                <form th:action="@{/save}" method="post" th:object="${movie}">
                    <div class="form-group">
                        <label class="control-label"> Nom du film : </label>
                        <input class="form-control" type="text" name="name" th:value="${movie.name}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Durée en minute : </label>
                        <input class="form-control" type="text" name="duration" th:value="${movie.duration}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Réalisateur : </label>
                        <input class="form-control" type="text" name="director" th:value="${movie.director}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Acteur : </label>
                        <input class="form-control" type="text" name="actor" th:value="${movie.actor}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Résumé : </label>
                        <input class="form-control" type="text" name="synopsis" th:value="${movie.synopsis}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>