<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec	   ="http://www.thymeleaf.org/extras/spring-security5"
      layout:decorate="~{layout}"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des séances</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-lg">
            <div class="text-center py-3">
                <h1>Gestion des séances par cinema</h1>
            </div>
            <div>
                <h3>Séléctionner une séance : </h3>
                <div class="row justify-content-center">
                    <div th:each="cinemaStreeming:${listCinemaStreeming}" class="card col col-lg-8 p-0 m-1">
                            <div class="d-flex justify-content-between">
                                <div class="col m-0 text-center">
                                    <h5>Séance : <span th:text="${cinemaStreeming.timetable}"></span> du <span th:text="${cinemaStreeming.formattedDate()}"></span></h5>
                                    <p><span th:text="${cinemaStreeming.price}"></span> €</p>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-info" th:href="@{/editCinemaStreeming(id=${cinemaStreeming.id}) }" sec:authorize="hasRole('ROLE_ADMIN')">Modifier la séance</a>
                                        <a class="btn btn-danger" onclick="return confirm('Are you sure ?')" th:href="@{/deleteCinemaStreeming(id=${cinemaStreeming.id})}"  sec:authorize="hasRole('ROLE_ADMIN')">Supprimer</a>
                                        <a class="btn btn-secondary" th:href="@{/addToCart(id=${cinemaStreeming.id}, idRoom=${idRoom})}">Réserver une séance</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>