<!DOCTYPE html>
<html xmlns:th        = "http://thymeleaf.org"
      xmlns:layout    = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout}"
      lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Distopia votre application de réservation</title>
</head>
<body>
    <div layout:fragment="content">
<!--        <div class="container">-->
<!--            <h2>Les films à l'affiche</h2>-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="carousel slide multi-item-carousel" id="theCarousel">-->
<!--                        <div class="carousel-inner">-->
<!--                            <div class="item active" th:each="movie:${listMovie}">-->
<!--                                <div class="col-xs-4"><a href="#1"><img src="${baseUrlImg} + ${movie.picture}" th:src="@{${baseUrlImgTh}+${movie.picture}}" class="img-responsive"></a></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;  Example item end &ndash;&gt;-->
<!--                        </div>-->
<!--                        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
<!--                        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
        <div class="text-center">
            <h1>Bienvenu sur Distopia</h1>
            <h2>Votre application de réservation en ligne</h2>
        </div>
        <div class="container-lg">
            <div class="container-md" th:each="movie:${listMovie}">
                <div class="card">
                    <div class="d-flex flex-row">
                        <div class="col-md-3">
                            <a th:href="@{/detail (id=${movie.id}) }"><img alt="Coming-soon" src="../static/img/soon.jpg" th:src="@{img/soon.jpg}" class="card-img-top"></a>
                        </div>
                        <div class="col-md-9 card-body">
                            <h5 th:text="${movie.name}"></h5>
                            <p>Durée : <span th:text="${movie.duration}"></span> min</p>
                            <p>Réalisateur :  <span th:text="${movie.director}"></span></p>
                            <p>Acteur principaux : <span th:text="${movie.actor}"></span></p>
                            <p>Résumé :  <span th:text="${movie.synopsis}"></span></p>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-info" th:href="@{/edit(id=${movie.id}) }" >Modifier</a>
                                <a class="btn btn-danger" onclick="return confirm('Are you sure ?')" th:href="@{/delete(id=${movie.id}, page=${currentPage}, keyword=${keyword})}">Delete</a>
                                <button type="submit" >Réserver une séance</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div><div class="container">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div th:each="page, status : ${pages}"
                         th:class="${currentPage == status.index ? 'btn-group active' : 'btn-group'}" role="group"
                         aria-label="First group">
                        <a th:href="@{/index(page=${status.index}, keyword=${keyword})}"
                           class="btn btn-info" th:text="${status.index}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>